.long-headline-to,
.tagline {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 500;
}
.long-headline-to {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 48px;
  font-weight: 900;
  font-family: inherit;
}
.headline {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.action {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--black);
  text-align: center;
  min-width: 52px;
}
.cta-button-white {
  cursor: pointer;
  border: 0;
  padding: 8px 16px;
  background-color: var(--anti-flash-white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta-button-white:hover {
  background-color: #d9d9d9;
}
.content {
  width: 600px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.content,
.cta,
.wide-1440px {
  display: flex;
  flex-direction: column;
}
.cta {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 192px var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/cta@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.wide-1440px {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .long-headline-to {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .content {
    gap: var(--gap-base);
  }
  .cta {
    padding-top: var(--padding-106xl);
    padding-bottom: var(--padding-106xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .long-headline-to {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
