@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-4xs-2: 8.2px;
  --font-size-5xl-7: 24.7px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;

  /* Colors */
  --color-white: #fff;
  --black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-200: rgba(255, 255, 255, 0.15);
  --color-gray-300: rgba(255, 255, 255, 0.4);
  --anti-flash-white: #f3f3f3;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-9xs: 4px;
  --gap-114xl: 133px;
  --gap-47xl: 66px;
  --gap-mid: 17px;
  --gap-14xl: 33px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-96xl: 115px;
  --gap-38xl: 57px;
  --gap-10xl: 29px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-77xl: 96px;
  --padding-133xl: 152px;
  --padding-131xl: 150px;
  --padding-xl: 20px;
  --padding-56xl: 75px;
  --padding-57xl: 76px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-12xl: 31px;
  --padding-106xl: 125px;
  --padding-9xl: 28px;
  --padding-12xs: 1px;
  --padding-43xl: 62px;
  --padding-146xl: 165px;
  --padding-63xl: 82px;
  --padding-72xl: 91px;
  --padding-22xl: 41px;
  --padding-47xl: 66px;
  --padding-24xl: 43px;
  --padding-3xs: 10px;
  --padding-45xl: 64px;
  --padding-144xl: 163px;
  --padding-62xl: 81px;
  --padding-7xs: 6px;
  --padding-23xl: 42px;
  --padding-82xl: 101px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-sm: 14px;
  --padding-2xs-5: 10.5px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-xs: 12px;
}
